@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

* {
  font-family: "Jost";
}
body{
  background-color: #D0D4D8;
  /*EEF2F7*/
}
.page-header {
  display: flex;
  align-items: center;
}
#page-logo {
  width: 45px;
  height: 45px;
  margin: 10px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction:column;  
  margin: 30px;
}
.box-container{
  margin: 50px;
  display: grid;
  gap: 50px 50px;
  grid-template-columns: auto auto;
}
.box {
  height: 110px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  background-color: white;
}
.select-moedas {
  outline: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-width: 0 0 1px 0;
}
.select-moedas.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
#box1, #box2{
  padding: 10px;
  /*border-radius: 20px 20px 0px 0px;*/
}
#valor-entrada{
  margin: auto 30px;
  border: none;
  font-size: 20px;
}
#valor-saida{  
  margin: auto 30px;
  font-size: 20px;
}
